.n-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    // background-color: black;
    // opacity: 0.3;
    z-index: 98;
    transition: 0.5s; // ease로 변경해야함
}