.n-chip {
  align-items: center;
    border-radius: 28px;
    display: inline-flex;
    font-size: 13px;
    margin: 4px;
    outline: none;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    vertical-align: middle;

    .n-chip__content {
      align-items: center;
      border-radius: 28px;
      cursor: default;
      display: inline-flex;
      height: 32px;
      justify-content: space-between;
      padding: 0 12px;
      vertical-align: middle;
      white-space: nowrap;
      // z-index: 1;
    }
}
